<h1>Generators</h1>

<ul>
  <li>
    <%= live_redirect "Devil", to: Routes.generator_path(@socket, :index, %{generator: "Devil"}) %>
  </li>
  <li>
    <%= live_redirect "Name", to: Routes.generator_path(@socket, :index, %{generator: "Name"}) %>
  </li>
  <li>
    <%= live_redirect "Person", to: Routes.generator_path(@socket, :index, %{generator: "Person"}) %>
  </li>
</ul>
